<form asp-action="EmailVerification" asp-controller="Account" method="post">
      <label >Введите Код подтверждения</label>
    <input type="text" name="code" class="form-control" style="width: 20%" />
    <button type="submit" class="styled">Подтвердить</button>
</form>
